$mainColor : #9C27B0;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signUpContainer {
  width: 45%;
  box-shadow: 10px 10px 10px 4px $mainColor;
  min-height: 500px;
}

.signUpHeader {
  background-color: $mainColor;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.signUpContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
  margin-top: 45px;
  font-size: 30px;
  font-family: "Spartan", sans-serif;
}

.formCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.buttonDesign {
  border-radius: 50px;
  width: 400px;
  height: 40px;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid $mainColor;
  margin-top: 9%;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.inputDesign {
  margin-top: 13%;
  width: 310px;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
}

.inputDesign:focus {
  border: none;
}

.buttonDesign:focus {
  border: none;
  cursor: pointer;
}
.buttonDesign:hover {
  cursor: pointer;
}
.textJustified
{
  text-align: justify;
}
.fontFamilyRoboto
{
  font-family: "Roboto", sans-serif;

}
/* Horizontal Navigation Bar */


  

//--------------------------
// Menu Bar
//--------------------------
.menubar
  {
    font-family: "Spartan", sans-serif;
    display: block;
  height: 60px;
  background-color: $mainColor;
  box-shadow: 2px 5px 5px 0 rgba(0,0,0,.12);
  text-align: center}
  
.menubar span
  {
    display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 2em;
  line-height: 60px}

//--------------------------
// Hamburger Menu
//--------------------------
#hambmenu
 { position: relative;
  width: 40px;
  height: 45px;
  float: left;
  transition: .5s ease-in-out;
  cursor: pointer;}
  span
    {position: absolute;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 0 15px;
    background: white;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    padding: 0px}
.hambclicker
 { content: '';
  height: 48px;
  width: 55px;
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  z-index: 9}
#hambmenu  span:nth-child(1)
  {top: 0px;}
#hambmenu  span:nth-child(2),#hambmenu  span:nth-child(3)
  {top: 10px}
#hambmenu  span:nth-child(4)
 { top: 20px}
#hambmenu.isopen span:nth-child(1)
  {top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0}
#hambmenu.isopen span:nth-child(2)
  {transform: rotate(45deg)}
#hambmenu.isopen span:nth-child(3)
 { transform: rotate(-45deg)}
#hambmenu.isopen span:nth-child(4)
 { top: 18px;
  width: 0%;
  left: 50%;
  opacity: 0;
}
//--------------------------
// Slide In Menu
//--------------------------
#menu
  {position: absolute;
  height: calc(100vh - 60px);
  width: 210px;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 300ms}
  ul
   {   font-family: "Spartan", sans-serif;
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left}
  li
   { padding: 30px 0 20px 20px;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0,0,0,.14)}
   li:last-child
   { border-bottom: none}
.fa
  {color: black;
  padding-right: 8px}
li a
 { text-decoration: none;
  color: black}

#menu.isopen
  {transform: none}

@media screen and (max-width: 420px)
  {.menubar span
    {font-size: 1.2em}}